#format: sh
#
#  ncbi_assemblyseqload.config.default
#
#  This file sets up environment variables that are needed for the
#  NCBI Assembly Sequence Load and Coordinate Loads
#
# The following config settings change between loads:
# 1) INPUTDIR
# 2) ASSOCFILE
# 3) SEQ_RELEASE_DATE
# 4) SEQ_RELEASE_NO
# 5) COORD_VERSION
###########################################################################

###########################################################################
#
#  LOAD SPECIFIC SETTINGS
#
###########################################################################

# Full path the the logs, reports, and archive directories
FILEDIR=${DATALOADSOUTPUT}/assembly/ncbiseqload

export INPUTDIR FILEDIR

# Full path the the logs, reports, and archive directories
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
OUTPUTDIR=${FILEDIR}/output
ARCHIVEDIR=${FILEDIR}/archive

export LOGDIR RPTDIR OUTPUTDIR ARCHIVEDIR

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/assemblyseqload.proc.log
LOG_DIAG=${LOGDIR}/assemblyseqload.diag.log
LOG_CUR=${LOGDIR}/assemblyseqload.cur.log
LOG_VAL=${LOGDIR}/assemblyseqload.val.log

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL

# Full path to dir containing assembly input files -
INPUTDIR=/mgi/all/wts_projects/7600/7655/data

#  Complete path name of the ncbi input file
INFILE_NAME=${INPUTDIR}/ncbigenemodels.txt

# Complete path to config file for assocload
CONFIG_ASSOCLOAD=${ASSEMBLYSEQLOAD}/ncbi_assocload.config

export INFILE_NAME CONFIG_ASSOCLOAD

###########################################################################
#
#  ncbi assemblyseqload settings
#
###########################################################################

# true if a virtual (computationally derived) sequence
SEQ_VIRTUAL=true

# NCBI sequence type
SEQ_TYPE=DNA

# NCBI sequence quality
SEQ_QUALITY=High

# jnumber
SEQ_JNUMBER=J:90438

# The flavor of assocload we are running
ASSOCLOADER_SH=${ASSOCLOAD}/bin/AssocLoad2.sh
 
export ASSOCLOADER_SH

# jnumber for the accession association load
# note that these associations are done via the EntrezGene load, so we set the J: to 0
ASSOC_JNUMBER=J:90438
ASSOC_OBJECTTYPE=Marker

export SEQ_VIRTUAL SEQ_TYPE SEQ_QUALITY SEQ_JNUMBER ASSOC_JNUMBER ASSOC_OBJECTTYPE

# source information
SEQ_ORGANISM="mouse, laboratory"
SEQ_STRAIN=C57BL/6J
SEQ_TISSUE="Not Specified"
SEQ_AGE="Not Specified"
SEQ_GENDER=Pooled
SEQ_CELLLINE="Not Specified"

export SEQ_ORGANISM SEQ_STRAIN SEQ_TISSUE SEQ_AGE SEQ_GENDER SEQ_CELLLINE

# NCBI release date
SEQ_RELEASE_DATE=2006/05/06

# for the sequence version
SEQ_RELEASE_NO="Build.36"

# this load's MGI_User login value for DB tables CreatedBy and ModifiedBy column
JOBSTREAM=ncbi_assemblyseqload

# SEQ_Sequence Provider controlled vocab for GenBank 
SEQ_PROVIDER="NCBI Gene Model"

# logical db name for this data provider
SEQ_LOGICALDB="NCBI Gene Model"

# the interpreter to use
SEQ_INTERPRETER=org.jax.mgi.shr.dla.input.mgs.MGSAssemblyFormatInterpreter

export SEQ_RELEASE_DATE SEQ_RELEASE_NO JOBSTREAM SEQ_PROVIDER SEQ_LOGICALDB
export SEQ_INTERPRETER

############################################################################
#
# ncbi coordload settings
#
###########################################################################

# Java classes
COORD_INTERPRETER=org.jax.mgi.shr.dla.input.mgs.MGSCoordinateFormatInterpreter
COORD_PROCESSOR=org.jax.mgi.dbs.mgd.loads.Coord.ChromosomeCoordMapProcessor

export COORD_INTERPRETER COORD_PROCESSOR

# logical db name for this data provider
COORD_LOGICALDB=${SEQ_LOGICALDB}

# name of organism to run
COORD_ORGANISM=${SEQ_ORGANISM}

# version of the coordinate load
COORD_VERSION="NCBI Build 36"

export COORD_LOGICALDB COORD_ORGANISM COORD_VERSION

# coordinate map collection to which this load belongs
COORD_COLLECTION_NAME="NCBI Gene Model"

# abbreviation for the coordinate collection
# if no value assigned will be same as COORD_COLLECTION
COORD_COLLECTION_ABBREV=

# MGI type name of the feature
COORD_FEATURE_MGITYPE=Sequence

export COORD_COLLECTION_NAME COORD_COLLECTION_ABBREV COORD_FEATURE_MGITYPE

# full path to coordinate repeat file
COORD_REPEAT_FILE=${OUTPUTDIR}/coordrepeats.out

export COORD_REPEAT_FILE

############################################################################
#
# ncbi assemblycacheload settings
#
###########################################################################

# name of the ncbi config file for assemblycacheload
ASSEMBLY_CACHELOAD_CONFIG=ncbi.config

export ASSEMBLY_CACHELOAD_CONFIG

###########################################################################
#
#  MISCELLANEOUS SETTINGS
#
###########################################################################
#  The name of the load for the subject of an email notification
MAIL_LOADNAME="NCBI Assembly Load"

export MAIL_LOADNAME
